* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    line-height: 1.5;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(252, 250, 252);
    font-size: 18px;
    
}
.left {
    width: 300px;
    padding-left: 20px;
}
.right {
    padding-right: 50px;
    position: relative;
    height: 3;
    width: 4;
}
.left img {
height: 20px;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(./img/food.jpg);
    background-repeat: no-repeat;
    background-size: 1500px;
    background-position: center;
    height: 100vh;
    color:black;
}
.title {
    font-size: 60px;
}
.sub-title {
    margin-top: 15px;
    font-size: 30px;
}
.catch-copy {
    margin-top: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    font-style: normal;
    line-height: 30px;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    color:black;
}

.main1 {
    text-align: center;
    margin-top: 1300px;
}
.main {
    font-size: 50px;
}
.main-text {
    margin-top: 10px;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.img1 {
    position: relative;
    width: 300px;

}

.main2 {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.sub {
    font-size: 40px;
    margin-top: 10px;
}

.sub-text {
    margin-top: 10px;
    font-size: 15px;
}

.img2 {
    position: relative;
    width: 200px;
}

.order-way {
    margin-top: 10px;
    font-size: 40px;
}

.order-text {
    margin-top: 10px;
    font-size: 15px;
}

.img3 {
    width: 200px;
    position: relative;
    margin-top: 10px;
    
}

.delivery {
    margin-top: 20px;
    font-size: 40px;
}

.delivery-text {
    margin-top: 10px;
    font-size: 15px;
}

.img4 {
    position: relative;
    width: 200px;
    margin-top: 10px;
}

.footer {
    background-color: black;
    margin-top: 1300px;
    padding: 30px 80px;
    color: white;
}



@media screen and (min-width:780px){
    .header {
        
    }
    .title {
        
    }

    .red

}